<!doctype html>
<head>
	<title> CSE DEPARTMENT @ SISTEC</title>
	<link rel="icon" type="image/png" href="images\SISTec.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style>
table{
	width: 50%;
	margin:auto;
	
}
td	{
	height: 40px;
}
#container{
border: 2px solid black;
width: 50%;
}
</style>
</head>
<body >
<div id="container">
	<h3 align="center">REGISTRATION</h3>
	<hr>
	<table style="border-collapse:collapse;">
	<tr>
		<td>Sponser ID:
		<td><form><input type="text" placeholder="Sponser ID"></form>
	</tr>
	<tr>
		<td>Sponser Name:
		<td><form>
					<input type="text" placeholder="Sponser Name">
			</form>
	</tr>
	<tr>
		<td>Position:
		<td><form>
					<select name="Postion" value="Select">
					<option value>Select</option>
					<option value="Left">Left</option>
					<option value="Right">Right</option>
					</select>
			</form>
	</tr>
	<tr>
		<td>First Name:
		<td><form><input type="text" placeholder="First Name"></form>
	</tr>
	<tr>
		<td>Last Name:
		<td><form><input type="text" placeholder="Last Name"></form>
	</tr>
	<tr>
		<td>Gender:
		<td><form>
			<input type="radio" name="gender">Male
			<input type="radio" name="gender">Female
			</form>
	</tr>
	<tr>
		<td>Mobile number:
		<td><form><input type="text" placeholder="Mobile number"></form>
	</tr>
	<tr>
		<td>Email ID:
		<td><form><input type="email" placeholder="Email ID"></form>
	</tr>
	<tr>
		<td>Password:
		<td><form><input type="password" placeholder="Type your password"></form>
	</tr>
	<tr>
		<td>Retype password:
		<td><form><input type="password" placeholder="Retype your password"></form>
	</tr>
	<tr>
		<td>State:
		<td><form>
					<select name="State">
									<option value>Select</option>
									<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
									<option value="Andhra Pradesh">Andhra Pradesh</option>
									<option value="Arunachal Pradesh">Arunachal Pradesh</option>
					</select>
			</form>
	</tr>
	<tr>
		<td>Country:
		<td><form>
					<select name="Country">
									<option value>Select</option>
									<option value="India">India</option>
					</select>
			</form>
	</tr>
	<tr>
		<td>Upload image:
		<td>
			<form>
				<input type="file">
			</form>
	</tr>
	<tr>
	<td colspan="2" style="text-align:center;"><input type="submit" value="Join us">
	</tr>
	</table>
</div>
</body>
</html>
