<!doctype html>
<html>
<head>
	<title> INTRODUCTION</title>
	<link rel="icon" type="image/png" href="..\images\2020logo.png"/>
	<link rel="stylesheet" type="text/css" href="..\css\intro.css">
	<script src="..\java\java.js"></script>
</head>
<body bgcolor="#EEEFEF">
<div id="webpage">
	<div id="content">
		<div class="contact">
			<div class="left">
			<b>e-MAIL:</b>prakashdevnani@gmail.com &nbsp<b>MOBILE:</b>+91-xxxxxxxxxx
			</div>
			<div class="right">
				<ul>
					<li><p title="facebook"><a href="https://www.facebook.com/" target="_blank"><img src="../images/facebook.png" ></a></p>
					<li><p title="twitter"><a href="https://twitter.com" target="_blank"><img src="../images/twitter.jpg"></a></p>
					<li><p title="google"><a href="https://plus.google.com" target="_blank"><img src="../images/google+.png" width="25" height="25"></a></p>
					<li><p title="pinterset"><a href="https://in.pinterest.com/" target="_blank"><img src="../images/pinterest.png" width="25" height="25"></a></p>
					<li><p title="linkedin"><a href="https://www.linkedin.com/" target="_blank"><img src="../images/linked.png" width="25" height="25"></a></p>
				</ul>
			</div>
		</div>
		<div class="block">
				<p>India Vision 2020 was initially a document prepared by the Technology Information, Forecasting and Assessment Council (TIFAC) of India's Department of Science and Technology under the chairmanship of A. P. J. Abdul Kalam and a team of 500 experts. The plan is further detailed in the book India 2020: A Vision for the New Millennium, which Kalam coauthored with Dr. Y.S. Rajan.</p>
				<b>KALAM</b> described the plan as follow:<br>
				<p  class="quote"> "Transforming the nation into a developed country, five areas in combination have been identified based on India's core competence, natural resources and talented manpower for integrated action to double the growth rate of GDP and realize the Vision of Developed India."</p>
				<center><video src="..\video\2020intro.mp4" type="video/mp4" controls="" width="300" height="200"></video></center>
			</div>
			<br>
		<div id="header">
			<div class="image">
				<img src="..\images\2020.png" width="200" height="100">
			</div>
			<div class="dropdown">
				<ul>
					<li><a href="college.html"><b>HOME</b></a>
					<li onmouseover="show('element')" onmouseout="hide('element')"><b>ELEMENTS</b>
						<table class="table" id="element">
							<tr><td><a href="introduction.html" >Introduction</a></td></tr>
							<tr><td><a href="vision.html" >Vision</a></td></tr>
							<tr><td><a href="profits.html" >Expected Benefit</a></td></tr>
							<tr><td><a href="book.html" >BOOK</a></td></tr>
							<tr><td><a href="challenge.html" >Challenge</a></td></tr>
							<tr><td><a href="reference.html" >Reference</a></td></tr>
							<tr><td><a href="news.html" >NEWS</a></td></tr>
						</table>
					<li><a href="aboutus.html"><b>ABOUT US</b></a>
					<li><b>BLOG</b>
					<li><b>CONTACTS</b>
				</ul>
			</div>
		</div>
		<p></p>
		<div id="content2"> 
			<div class="image1">
			</div>
			<br>
			<div class="footer" >
				<div class="left" >
				<h3>Contact us</h3>
				<ul>
					<li><p title="facebook"><a href="https://www.facebook.com/" target="_blank"><img src="../images/face2.png" ></a></p>
					<li><p title="twitter"><a href="https://twitter.com" target="_blank"><img src="../images/twitter.jpg"></a></p>
					<li><p title="google"><a href="https://plus.google.com" target="_blank"><img src="../images/google+.png" width="25" height="25"></a></p>
					<li><p title="pinterset"><a href="https://in.pinterest.com/" target="_blank"><img src="../images/pinterest.png" width="25" height="25"></a></p>
					<li><p title="linkedin"><a href="https://www.linkedin.com/" target="_blank"><img src="../images/linked.png" width="25" height="25"></a></p>
				</ul>
				</div>
				<div class="middle">
					<h3>Useful Links</h3>
					<ul>
						<li><a href="college.html">Home</a>
						<li><a href="college.html#content2">Elements</a>
						<li><a href="aboutus.html">ABOUT US</a>
						<li><a href="#">Blog</a>
						<li><a href="#">Contacts</a>
					</ul>
				</div>
				<div class="right" >
				<h3>Query Box</h3>
				<form >
				Email:<br>
					<input type="email" name="email" autocomplete="off"><br>
				Query:<br>
					<input type="text" name="query" size="25%" >
					&nbsp <input type="submit" value="SUBMIT">
				</form>
				</div>
			</div>
			
		</div>
	</div>
		
	<a href="#">
		<div class="nav" >
		<b>TOP</b>
		</div>
	</a>
</div>
</body>
</html>