<!doctype html>
<html>
<head>
	<title> NEWS</title>
	<link rel="icon" type="image/png" href="..\images\2020logo.png"/>
	<link rel="stylesheet" type="text/css" href="..\css\vision.css">
	<script src="..\java\java.js"></script>
</head>
<body bgcolor="#EEEFEF">
<div id="webpage">
	<div id="content">
		<div class="contact">
			<div class="left">
			<b>e-MAIL:</b>prakashdevnani@gmail.com &nbsp<b>MOBILE:</b>+91-xxxxxxxxxx
			</div>
			<div class="right">
				<ul>
					<li><p title="facebook"><a href="https://www.facebook.com/" target="_blank"><img src="../images/facebook.png" ></a></p>
					<li><p title="twitter"><a href="https://twitter.com" target="_blank"><img src="../images/twitter.jpg"></a></p>
					<li><p title="google"><a href="https://plus.google.com" target="_blank"><img src="../images/google+.png" width="25" height="25"></a></p>
					<li><p title="pinterset"><a href="https://in.pinterest.com/" target="_blank"><img src="../images/pinterest.png" width="25" height="25"></a></p>
					<li><p title="linkedin"><a href="https://www.linkedin.com/" target="_blank"><img src="../images/linked.png" width="25" height="25"></a></p>
				</ul>
			</div>
		</div>
		<div class="block">
				<h3 align="center">NEWS UPDATES<h3>
				<hr color="orange">
				<div class="fir">
				<div class="image">
					<img src="../images/apj3.jpg" width="200px" height="200px">
				</div>
				<div class="doc">
					<p>
					<a href="http://post.jagran.com/was-inspired-reading-dr-kalams-vision-2020-missions-pujara-1438080554">Showing Results For "<strong>VISION 2020 MISSION</strong>"</a><br>
					<br>28 Jul 2015<br>Chennai: Paying homage to former President Dr APJ Abdul Kalam, who passed away following a cardiac arrest, Indian batsman Cheteshwar Pujara said he has read quite a few inspirational books written by him with 'Vision 2020 Missions' being one of his favourites.
					</p>
				</div>
				</div>
				<hr color="orange">
				<div class="sec" id="secr">
				<div class="image">
					<img src="../images/apj4.png" width="200px" height="200px">
				</div>
				<div class="doc">
					<p>
					<a href="http://www.oneindia.com/2007/07/23/outgoing-kalam-outlines-2020-vision-for-india.html">Outgoing Kalam outlines 2020 vision for India</a>
					<br><br>Published: Monday, July 23, 2007, 20:03 [IST]<br>New Delhi, July 23: Emphasising the need for having a vision for the nation among the Members of Parliament, outgoing President A P J Abdul Kalam in his farewell speech here today called for the future political leadership to rise to the global challenges of development and sustainability of growth. Addressing the MPs at the Central hall of the Parliament, where he was today given a 
							<span id="read" onclick="show1('para','secr','read')">READ MORE</span>
							<span id="para" onclick="hide1('para','secr','read')">farewell by the Members of the Parliament, Kalam said: "The future political leadership the world over has to rise to the challenge of sustainability of growth, development, environment and resources." "The national leadership has to radiate confidence in our people that 'we can do it'," added Kalam, who also outlined his 2020 vision for the country to the MPs.</span>
					</p>
				</div>
				</div>
				<hr color="orange">
			</div>
		<div id="header">
			<div class="image">
				<img src="..\images\2020.png" width="200" height="100">
			</div>
			<div class="dropdown">
				<ul>
					<li><a href="college.html" ><b>HOME</b></a>
					<li onmouseover="show('element')" onmouseout="hide('element')"><b>ELEMENTS</b>
						<table class="table" id="element">
							<tr><td><a href="introduction.html" >Introduction</a></td></tr>
							<tr><td><a href="vision.html" >Vision</a></td></tr>
							<tr><td><a href="profits.html" >Expected Benefit</a></td></tr>
							<tr><td><a href="book.html" >BOOK</a></td></tr>
							<tr><td><a href="challenge.html" >Challenge</a></td></tr>
							<tr><td><a href="reference.html" >Reference</a></td></tr>
							<tr><td><a href="news.html" >NEWS</a></td></tr>
						</table>
					<li><a href="aboutus.html"><b>ABOUT US</b></a>
					<li><b>BLOG</b>
					<li><b>CONTACTS</b>
				</ul>
			</div>
		</div>
		<p></p>
		<div id="content2"> 
			<div class="image1">
			</div>
			<br>
			<div class="footer" >
				<div class="left" >
				<h3>Contact us</h3>
				<ul>
					<li><p title="facebook"><a href="https://www.facebook.com/" target="_blank"><img src="../images/face2.png" ></a></p>
					<li><p title="twitter"><a href="https://twitter.com" target="_blank"><img src="../images/twitter.jpg"></a></p>
					<li><p title="google"><a href="https://plus.google.com" target="_blank"><img src="../images/google+.png" width="25" height="25"></a></p>
					<li><p title="pinterset"><a href="https://in.pinterest.com/" target="_blank"><img src="../images/pinterest.png" width="25" height="25"></a></p>
					<li><p title="linkedin"><a href="https://www.linkedin.com/" target="_blank"><img src="../images/linked.png" width="25" height="25"></a></p>
				</ul>
				</div>
				<div class="middle">
					<h3>Useful Links</h3>
					<ul>
						<li><a href="college.html">Home</a>
						<li><a href="college.html#content2">Elements</a>
						<li><a href="aboutus.html">ABOUT US</a>
						<li><a href="#">Blog</a>
						<li><a href="#">Contacts</a>
					</ul>
				</div>
				<div class="right" >
				<h3>Query Box</h3>
				<form >
				Email:<br>
					<input type="email" name="email" autocomplete="off"><br>
				Query:<br>
					<input type="text" name="query" size="25%" >
					&nbsp <input type="submit" value="SUBMIT">
				</form>
				</div>
			</div>
			
		</div>
	</div>
		
	<a href="#">
		<div class="nav" >
		<b>TOP</b>
		</div>
	</a>
</div>
</body>
</html>
