<!doctype html>
<html>
<head>
	<title> REFERENCE</title>
	<link rel="icon" type="image/png" href="..\images\2020logo.png"/>
	<link rel="stylesheet" type="text/css" href="..\css\vision.css">
	<script src="..\java\java.js"></script>
</head>
<body bgcolor="#EEEFEF">
<div id="webpage">
	<div id="content">
		<div class="contact">
			<div class="left">
			<b>e-MAIL:</b>prakashdevnani@gmail.com &nbsp<b>MOBILE:</b>+91-xxxxxxxxxx
			</div>
			<div class="right">
				<ul>
					<li><p title="facebook"><a href="https://www.facebook.com/" target="_blank"><img src="../images/facebook.png" ></a></p>
					<li><p title="twitter"><a href="https://twitter.com" target="_blank"><img src="../images/twitter.jpg"></a></p>
					<li><p title="google"><a href="https://plus.google.com" target="_blank"><img src="../images/google+.png" width="25" height="25"></a></p>
					<li><p title="pinterset"><a href="https://in.pinterest.com/" target="_blank"><img src="../images/pinterest.png" width="25" height="25"></a></p>
					<li><p title="linkedin"><a href="https://www.linkedin.com/" target="_blank"><img src="../images/linked.png" width="25" height="25"></a></p>
				</ul>
			</div>
		</div>
		<div class="block">
				<H2 >REFRENCES</H2>
				<ul>
				<li onmouseover="show('first')" onmouseout="hide('first')"><a href="https://scroll.in/article/744333/apj-abdul-kalam-we-have-to-transform-india-in-five-areas-where-india-has-core-competence">Scroll.in<span id="first"> (click here)</span></a>
				<li onmouseover="show('second')" onmouseout="hide('second')"><a href="http://www.dnaindia.com/blogs/post-how-narendra-modi-can-achieve-kalam-s-vision-2020-2110254">Daily News Analysis<span id="second"> (click here)</span></a>
				<li onmouseover="show('third')" onmouseout="hide('third')"><a href="https://en.wikipedia.org/wiki/India_Vision_2020" >Wikipedia<span id="third"> (click here)</span></a>
				<li >YouTube:<br><a href="https://www.youtube.com/watch?v=isttQwy-5XA&t=55s" onmouseover="show('fourth')" onmouseout="hide('fourth')">Introduction one<span id="fourth"> (click here)</span></a><br><a href="https://www.youtube.com/watch?v=jMdxMRKKSA0&t=197s" onmouseover="show('fifth')" onmouseout="hide('fifth')">Vision one<span id="fifth"> (click here)</span></a>
				<li onmouseout="hide('sixth')" onmouseover="show('sixth')"><a href="http://books.jakhira.com/2015/07/india-2020-a-vision.html">e-Book<span id="sixth"> (click here)</span></a>
				<li onmouseout="hide('sevnth')" onmouseover="show('sevnth')"><a href="http://post.jagran.com/was-inspired-reading-dr-kalams-vision-2020-missions-pujara-1438080554">News Update-1<span id="sevnth"> (click here)</span></a>
				<li onmouseout="hide('eight')" onmouseover="show('eight')"><a href="http://www.oneindia.com/2007/07/23/outgoing-kalam-outlines-2020-vision-for-india.html">News Update-2<span id="eight"> (click here)</span></a>
				</ul>
			</div>
			<br>
		<div id="header">
			<div class="image">
				<img src="..\images\2020.png" width="200" height="100">
			</div>
			<div class="dropdown">
				<ul>
					<li><a href="college.html" ><b>HOME</b></a>
					<li onmouseover="show('element')" onmouseout="hide('element')"><b>ELEMENTS</b>
						<table class="table" id="element">
							<tr><td><a href="introduction.html" >Introduction</a></td></tr>
							<tr><td><a href="vision.html" >Vision</a></td></tr>
							<tr><td><a href="profits.html" >Expected Benefit</a></td></tr>
							<tr><td><a href="book.html" >BOOK</a></td></tr>
							<tr><td><a href="challenge.html" >Challenge</a></td></tr>
							<tr><td><a href="reference.html" >Reference</a></td></tr>
							<tr><td><a href="news.html" >NEWS</a></td></tr>
						</table>
					<li><a href="aboutus.html"><b>ABOUT US</b></a>
					<li><b>BLOG</b>
					<li><b>CONTACTS</b>
				</ul>
			</div>
		</div>
		<p></p>
		<div id="content2"> 
			<div class="image1">
			</div>
			<br>
			<div class="footer" >
				<div class="left" >
				<h3>Contact us</h3>
				<ul>
					<li><p title="facebook"><a href="https://www.facebook.com/" target="_blank"><img src="../images/face2.png" ></a></p>
					<li><p title="twitter"><a href="https://twitter.com" target="_blank"><img src="../images/twitter.jpg"></a></p>
					<li><p title="google"><a href="https://plus.google.com" target="_blank"><img src="../images/google+.png" width="25" height="25"></a></p>
					<li><p title="pinterset"><a href="https://in.pinterest.com/" target="_blank"><img src="../images/pinterest.png" width="25" height="25"></a></p>
					<li><p title="linkedin"><a href="https://www.linkedin.com/" target="_blank"><img src="../images/linked.png" width="25" height="25"></a></p>
				</ul>
				</div>
				<div class="middle">
					<h3>Useful Links</h3>
					<ul>
						<li><a href="college.html">Home</a>
						<li><a href="college.html#content2">Elements</a>
						<li><a href="aboutus.html">ABOUT US</a>
						<li><a href="#">Blog</a>
						<li><a href="#">Contacts</a>
					</ul>
				</div>
				<div class="right" >
				<h3>Query Box</h3>
				<form >
				Email:<br>
					<input type="email" name="email" autocomplete="off"><br>
				Query:<br>
					<input type="text" name="query" size="25%" >
					&nbsp <input type="submit" value="SUBMIT">
				</form>
				</div>
			</div>
			
		</div>
	</div>
		
	<a href="#">
		<div class="nav" >
		<b>TOP</b>
		</div>
	</a>
</div>
</body>
</html>
